/* Container Filters */
.container-filters {
	position: fixed;
	top: 0;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	left: -300px;
	width: 150px;
	box-shadow: 0px 1px 3px 5px rgba(0, 0, 0, 0.2);

	background-color:var(--color-primary);
	height: 100%;
	padding-top: 24px;
	transition: all 0.3s linear;
}

.container-filters.active {
	left: 0;
}

.filter-by-type {
	display: flex;
	flex-direction: column;
	margin: 8px;
	margin-top: 16px;
	border-radius: 8px;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: white;
	box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.25) inset;
	gap: 12px;
}
.filter-header{
	margin-right: 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.filter-header img{
	width: 16px;
	margin-right: 4px ;
}
.filter-by-type span {
	font-weight: 700;
}

.group-type {
	display: flex;
	gap: 10px;
	font-size: 12px;
	margin-left: 15px;
}

.group-type label {
	cursor: pointer;
}
