:root{
	--color-primary: ##DC0A2D;
	--color-primary-hover: #d53b55;
}

header{
    width: 100%;
    background-color: var(--color-primary);
    padding: 12px;
}
.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 18px;
}
.logo span {
    color: white;
    font-size: 30px;
    line-height: 32px;
    font-weight: 700;
}
span {
    margin-left: 16px;
    color: white;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}

.nav-actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-group{
    display: flex;
    align-items: center;
    width: 80%;
    height: 36px;
    gap: 8px;
    background-color: white;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.25) inset;
    padding: 8px 12px;
    border-radius: 25px;
}
.form-group input{
    width: 100%;
    font-family: inherit;
    border: none;
    outline: none;
    font-size: 15px;
}


.icon-search{
    width: 20px;
    height: 20px;
    stroke: var(--color-primary);
}


.btn-fav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.25) inset;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin-right: 12px;
}
.btn-fav path {
    stroke: var(--color-primary);
}