:root{
	--color-primary: ##DC0A2D;
	--color-primary-hover: #d53b55;
}

header{
    width: 100%;
    background-color: var(--color-primary);
    padding: 12px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 6px;
}
.logo span {
    color: white;
    font-size: 30px;
    line-height: 32px;
    font-weight: 700;
}
span {
    margin-left: 16px;
    color: white;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}
